
<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <app-header></app-header>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            
            <app-footer></app-footer>

        </div>
        <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Modal Upload -->
<app-modal-upload></app-modal-upload>

