<div class="row animated fadeIn">

    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del usuario</h4>
                <h6 class="card-subtitle">  </h6>

                <form  ngNativeValidate #f="ngForm" (ngSubmit)="actualizar(f.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.nombre_usuario" name="nombre_usuario" type="text" class="form-control" placeholder="Nombre de usuario" required>
                        </div>
                        
                         <div class="form-group">
                            <label for="exampleInputuname">Apellido de usuario</label>
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.apellido_usuario" name="apellido_usuario" type="text" class="form-control" placeholder="Apellido de usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input  [ngModel]="usuario.email_usuario"  id="exampleInputEmail1" name="email_usuario" type="email_usuario" class="form-control" placeholder="Correo del usuario" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i>
                      Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-5">
        <div class="card">
            <div  class="card-body" align="center">
                <h4 class="card-title">Fotografía del usuario</h4>
                <h6 class="card-subtitle"> {{usuario.nombre_usuario}} {{usuario.apellido_usuario}} </h6>

               <img  *ngIf="!imagenTemp"[src]="usuario.foto | imagen" class="w150">
               <img  *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
<br>
<br>
                <input   (change)="seleccionImage($event.target.files[0])"    type="file" >

                <br><br>

                <button  (click)="subirImagen()" [disabled]="!imagenSubir"  type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Actualizar Foto
                  </button>
            </div>
        </div>
    </div>
<!----(click)="subirImagen()" "[disable]="!imagensubir"--->
</div>