<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Usuarios</h1>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Tabla de usuarios</h6>
        <button (click)="onAddProduct()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i>
            Nuevo Registro
        </button>
    </div>
    <div class="card-body">
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" width="100%" >
          <thead>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>User</th>
              <th>Rol</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody *ngIf="usuarios?.length != 0">
            <tr *ngFor="let usuario of usuarios" >
              <td class="w70" >
                <img (click)="mostrarModal( usuario.id )"  [src]="usuario.foto | imagen" class="img-50 img-circle pointer">
              </td>
              <td>{{ usuario.nombre_usuario }}</td>
              <td>{{ usuario.apellido_usuario }}</td>
              <td>{{ usuario.email_usuario }}</td>
              <td>{{ usuario.user_name }}</td>
              <td>{{ usuario.rol.role }}</td>
              <td>
                <button (click)="showModal(usuario)"  class="btn btn-warning">
                    <i class="fas fa-pencil-alt"></i>
                </button>

                <button (click)="eliminar(usuario)" class="btn btn-danger ml-2">
                    <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="usuarios?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </div>
    </div>
</div>

<!-- MODAL DE NUEVO REGISTRO -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Registrar nuevo usuario</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form class="user" [formGroup]="usuarioForm">
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input formControlName="nombre_usuario" id="nombre_usuario" type="text" class="form-control" placeholder="Nombres">
          <div class="errorMessage" *ngIf="usuarioForm.controls.nombre_usuario.touched && usuarioForm.controls.nombre_usuario.errors">
            <span *ngIf="usuarioForm.controls.nombre_usuario.hasError('required')">El nombre es requerido.</span>
          </div>
        </div>
        <div class="col-sm-6">
          <input formControlName="apellido_usuario" type="text" class="form-control"  placeholder="Apellidos">
          <div class="errorMessage" *ngIf="usuarioForm.controls.apellido_usuario.touched && usuarioForm.controls.apellido_usuario.errors">
            <span *ngIf="usuarioForm.controls.apellido_usuario.hasError('required')">El apellido es requerido.</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
              <input formControlName="email_usuario" type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
              <div class="errorMessage" *ngIf="usuarioForm.controls.email_usuario.touched && usuarioForm.controls.email_usuario.errors">
                <span *ngIf="usuarioForm.controls.email_usuario.hasError('required')">El email es requerido.</span>
              </div>
          </div>
        <div class="col-sm-6">
          <input formControlName="pass_usuario" type="password" class="form-control" id="exampleInputPassword" placeholder="Contraseña">
          <div class="errorMessage" *ngIf="usuarioForm.controls.pass_usuario.touched && usuarioForm.controls.pass_usuario.errors">
            <span *ngIf="usuarioForm.controls.pass_usuario.hasError('required')">La contraseña es requerido.</span>
            <span *ngIf="usuarioForm.controls.pass_usuario.hasError('minlength')">Minimo 8 caractares.</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input formControlName="user_name" type="text" class="form-control" id="user" placeholder="User">
          <div class="errorMessage" *ngIf="usuarioForm.controls.user_name.touched && usuarioForm.controls.user_name.errors">
            <span *ngIf="usuarioForm.controls.user_name.hasError('required')">El User es requerido.</span>
          </div>
        </div>
        <div class="col-sm-6">
          <select formControlName="rol" class="form-control" id="exampleFormControlSelect1">
            <option disabled [ngValue]="null" >Seleccione un rol</option>
            <option value="2" >USER_ROLE</option>
            <option value="1" >ADMIN_ROLE</option>
          </select>
          <div class="errorMessage" *ngIf="usuarioForm.controls.rol.touched && usuarioForm.controls.rol.errors">
            <span *ngIf="usuarioForm.controls.rol.hasError('required')">El Rol es requerido.</span>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button [disabled]="usuarioForm.invalid" (click)="guardarUsusario()" class="btn btn-primary">
      Guardar registro
    </button>
  </div>
</ng-template>

<!-- MODAL DE ACTUALIZAR REGISTRO -->
<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Actualizar usuario</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form class="user" [formGroup]="updateForm">
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input formControlName="nombre_usuario" type="text" class="form-control" placeholder="Nombres">
          <div class="errorMessage" *ngIf="updateForm.controls.nombre_usuario.touched && updateForm.controls.nombre_usuario.errors">
            <span *ngIf="updateForm.controls.nombre_usuario.hasError('required')">El nombre es requerido.</span>
          </div>
        </div>
        <div class="col-sm-6">
          <input formControlName="apellido_usuario" type="text" class="form-control" placeholder="Apellidos">
          <div class="errorMessage" *ngIf="updateForm.controls.apellido_usuario.touched && updateForm.controls.apellido_usuario.errors">
            <span *ngIf="updateForm.controls.apellido_usuario.hasError('required')">El apellido es requerido.</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
              <input formControlName="email_usuario" type="email" class="form-control"  placeholder="Email">
              <div class="errorMessage" *ngIf="updateForm.controls.email_usuario.touched && updateForm.controls.email_usuario.errors">
                <span *ngIf="updateForm.controls.email_usuario.hasError('required')">El email es requerido.</span>
              </div>
          </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input formControlName="user_name" type="text" class="form-control" placeholder="User">
          <div class="errorMessage" *ngIf="updateForm.controls.user_name.touched && updateForm.controls.user_name.errors">
            <span *ngIf="updateForm.controls.user_name.hasError('required')">El User es requerido.</span>
          </div>
        </div>
        <div class="col-sm-6">
          <select formControlName="rol" class="form-control" id="exampleFormControlSelect1">
            <option disabled >Seleccione un rol</option>
            <option value="2" >USER_ROLE</option>
            <option value="1" >ADMIN_ROLE</option>
          </select>
          <div class="errorMessage" *ngIf="updateForm.controls.rol.touched && updateForm.controls.rol.errors">
            <span *ngIf="updateForm.controls.rol.hasError('required')">El Rol es requerido.</span>
          </div>
        </div>
      </div>
    </form> 

  </div>
  <div class="modal-footer">
    <button [disabled]="updateForm.invalid" (click)="actualizarUsusario()" class="btn btn-primary">
      Actualizar
    </button>
  </div>
</ng-template>



