.tabla{
   
    margin-left: 17%;
    width: 70%;
    margin-top: 15%;
    text-align: center;
    
text-align: left;
   
  

 
   
}
@media screen and (max-width:640px) {
    /* reglas CSS */
    .tabla{
        
        margin-top: 40%;
        align-content: center;
        
    }


  }
  @media screen and (max-width:1024px) and (min-width:640px) {
    /* reglas CSS */
    .table{
        
        margin-top: 40%;
       
    }
   
  }
  @media screen and (min-width:1024px) {
    /* reglas CSS */
  }