<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">
        Tu logo aquí
      </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" routerLink="/dashboard" >
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Perfil -->
    <li class="nav-item" >
      <a class="nav-link" routerLinkActive="active" routerLink="/perfil" >
        <i class="fas fa-user fa-tachometer-alt"></i>
        <span>Perfil</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" *ngFor="let menu of _sidebar.menu">

      <a class="nav-link collapsed" href="#" data-toggle="collapse" [attr.data-target]="'#' + menu.titulo" aria-expanded="true" aria-controls="collapseTwo">
        <i [class]="menu.icono"></i>
        <span>{{menu.titulo}}</span>
      </a>

      <div id="{{menu.titulo}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">{{menu.titulo}}</h6>
          <li *ngFor="let submenu of menu.submenu">
            <a class="collapse-item" routerLinkActive="active" [routerLink]="[submenu.url]"  >{{submenu.titulo}} </a>
          </li>
        </div>
      </div>
      
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
      <a class="nav-link pointer" (click)="_usuarioService.logout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Cerrar sesion</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->
