
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <br>
        <img src="../../../assets/img/Logo MPECIP_ completo version 3-08.png" id="icon" alt="User Icon"  style="width: 100%;" />
        <br>
      </div>
  
      <!-- Login Form -->
      <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar( f )">
        <input [ngModel]="email" name="email" type="text" id="login" class="fadeIn second" placeholder="Usuario" required>
        <input ngModel name="password" type="password" id="password" class="fadeIn third" placeholder="Contraseña " required>
        <br>
        <br>
        <input *ngIf="cargar" type="submit" class="fadeIn fourth" value="Iniciar Sesión">
      </form>
      <div *ngIf="!cargar" class="lds-dual-ring"></div>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#"></a>
      </div>
  
    </div>
  </div>
  