/* You can add global styles to this file, and also import other style files */
.img-50 {
    width: 50px;
}
.pointer {
    cursor: pointer;
}

.img-circle {
    border-radius: 50%;
}

.errorMessage {
  color: red;
}

.w150 {
  width: 150px;
}
.w70 {
  width: 70px;
}
.oculto {
  display: none;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #dfc;
    border-color: #dfc transparent #dfc transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  