.contenedor-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: end;
    margin-right: 50px;
    align-content: center;

   
   

    
  }
  
  .contenedor-modal button {
    position: relative;
    top: 90px;
    margin-right: 50px;
   
  }

  @media screen and (max-width:640px) {
    /* reglas CSS */
    .contenedor-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: end;
        
        align-content: center;
    
       
       
    
        
      }
      
      .contenedor-modal button {
        position: relative;
        margin-top: 10%;
        margin-right: 5px;
        
       
       
      }


  }
  @media screen and (max-width:1024px) and (min-width:640px) {
    /* reglas CSS */
    .table{
        
        margin-top: 30%;
        margin-right: 10%;
    }
   
  }
  @media screen and (min-width:1024px) {
    /* reglas CSS */
  }